{% load static menu_tags %}

<!-- Banner -->
<div class="header">
    <h1 class = "htf">cold spring school district</h1>
    <p class = "hbf" style="f">2243 Sycamore Canyon Road, Santa Barbara, CA 93108</p>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-light" style="border-bottom: solid rgb(200, 200, 200) 1px">
    <button class="navbar-toggler collapse-btn" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul id="dd" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    home
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="aboutUs" id="navbardrop" data-toggle="dropdown">
                about us
                </a>
                <div class="dropdown-menu">
                    {% flat_menu 'about' template="nav_sub.html" %}
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " style="white-space:nowrap" href="{{ self.board_agenda.url }}">
                    Board agenda
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    School District
                </a>
                <div class="dropdown-menu ">
                    {% flat_menu 'district' template="nav_sub.html" %}
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/board" id="navbardrop" data-toggle="dropdown">
                    Board
                </a>
                <div class="dropdown-menu">
                    {% flat_menu 'board' template="nav_sub.html" %}
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/our Schoool" id="navbardrop" data-toggle="dropdown">
                    our school
                </a>
                <div class="dropdown-menu">
                    {% flat_menu 'ourschool' template="nav_sub.html" %}
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/programs" id="navbardrop" data-toggle="dropdown">
                    programs
                </a>
                <div class="dropdown-menu">
                    {% flat_menu 'programs' template="nav_sub.html" %}
                
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-right:none" href="/contact">
                    contact
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ps-logo-container" href="https://parentsquare.com">
                        <img id="ps-logo" src="{% static 'images/parentsquare_logo.png' %}">
                </a>
            </li>
        </ul>
    </div>
</nav>

